@font-face {
    font-family: OpenSans-regular; 
    src: url(/sources/fonts/OpenSans-Regular.woff); 
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: OpenSans-bold; 
    src: url(/sources/fonts/OpenSans-Bold.woff); 
  font-weight: 400;
  font-style: normal;
}
body {
    max-width: 1660px;
    text-transform: uppercase;
    font-family: OpenSans-bold;
    margin: 0px;
}
header {
    position:relative;
    background-size:auto;
	background: 
		url("/sources/img/banner-bg.jpg") center no-repeat rgba(0,0,0,.7);
    width: 100%;
    height:445px;
    justify-content:center;
}
header:after {
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 2;
    }
.head_banner {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content:space-between;

}
.logo {
    width: 185px;
    height: 36px;
    z-index: 3;
    margin-left: 245px;
    margin-top: 35px;
}

 h1 {
    padding-top: 30px;
    line-height: 55px;
    position: relative;
    z-index: 3;
    text-align:center;
    font-size: 46px;
    color: white;
}
.short_menu {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 35px;
    top:53px;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    cursor: pointer;
}
.short_menu_item {
    width: 100%;
    border: 2px solid #ffff;
    z-index: 4;
    background-color: #ffff;
    display: none;
}
 .head_nav {
     padding-top: 35px;
    font-size: 12px;
    padding-right: 10px;
    margin-right: 245px;
 }
 .head_lists {
    font-family: OpenSans-regular;
    list-style-type: none;
    display: flex;
     }
 .head_list {
     margin-left: 20px;
 }
.head_text{
    color: white;
    text-decoration: none;
    margin: 10px;
 }

.trand_h3{
    text-align: center;
    color: black;
    margin-top: 45px;
}
.trand {
    margin-top: 45px;
    color: rgba(186, 158, 72, 0.7);
    display: flex;
    width: 100%;
    height: 320px;
}   
.trand_item {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 25%;

}
.trand_item_img {
    width: 100%;
    height: 100%;
    z-index: 0;
	filter: brightness(40%);
}
.trand_item:nth-child(n+2) {
    margin-left: 5px;
}
.trand_item_box {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
    padding: 25px ;
    border: 3px solid rgba(186, 158, 72, 0.7);
}
.trand_item_box_content {
    margin-top: 10px;
    font-size: 16px;
    color: #ffff;
    display: flex;
}
.trand_item_box_tag {
    color: rgba(186, 158, 72, 0.7);
    display: inline;
    font-size: 12px;
}
.tag_text:nth-child(n+2) {
    margin-left: 10px;
}
main {
    display: flex;
    margin-right: 230px;
    margin-top: 65px;
    margin-left: 230px;
}
.articles {
    width: 775px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.article_box {
    display: flex;
    margin-bottom: 60px;
}
.article_box_img {
    width: 380px;
    height: 290px;
}
.article_content{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.article_content_head {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 35px;
}
.article_content_data {
    font-size: 11px;
    font-family: OpenSans-regular;
    text-transform:none;
}
.article_content_author {
    font-size: 11px;
    text-transform:none;
}
    .article_content_text {
    margin-top: 55px;
    font-family: OpenSans-regular;
    text-transform:none;
}
aside {
    padding-right: 15px;
    width: 275px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
h3 {
    text-align: center;
    margin-bottom: 25px;
}
.new_posts {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.new_post {
    display: flex;
    margin-bottom: 20px;
}
.new_post_img {
    margin-right: 10px;
}
.aside_find {
    display: flex;
    margin-top: 55px;
}   
.aside_find_input {
    height: 45px;
    width: 100%;
    background-color: #f4f7f6;
    border: none;
}
.aside_find_btn {
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    padding: 0px;
    background-image: url("/sources/svg/search.svg");
    background-repeat: no-repeat;
    background-size:15px;
    background-position:center center;
    cursor: pointer;
}
.aside_mailing {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    width: 100%;
}
.aside_mailing_input {
    height: 45px;
    background-color: #f4f7f6;
    border: none;
}
.aside_mailing_btn {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}
.tags {
    display: inline-flex;
    flex-wrap: wrap;
}
.tag {
    cursor: pointer;
    font-size: 10px;
    padding: 8px;
    border: 3px solid rgba(191, 173, 121, 0.7);
    margin-right: 5px;
    margin-bottom: 5px;
}
.temes {
    margin-top: 40px;
}
.tema {
    text-transform:none;
    list-style: none;
    margin-bottom: 35px;
    border: 1px bottom  rgba(191, 173, 121, 0.7);
}
.temes_count {
    font-size: 10px;
    color: #b59f5b;

}
footer {
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}
.products {
    display: flex;
    text-align:left;
}
.product1 {
    display: flex;
    width: 345px;
    height: 435px;
    flex-direction: column-reverse;
    background: url("/sources/img/shop-item-desk1.jpg") top no-repeat;
}
.product2 {
    margin-left: 70px;
    width: 345px;
    height: 435px;
    display: flex;
    flex-direction: column-reverse;
    background: url("/sources/img/shop-item-desk2.jpg") top no-repeat;
}
.product3 {
    margin-left: 70px;
    width: 345px;
    height: 435px;
    display: flex;
    flex-direction: column-reverse;
    top: 0px;
    background: url("/sources/img/shop-item-desk3.jpg") top no-repeat;
}
.product_content{
    box-sizing: border-box;
    border: 3px solid rgba(186, 158, 72, 0.7);
    width: 345px;
    height: 265px;
    padding-left: 20px;
    padding-right: 20px;
}
.product_title {
    margin-top: 55px;

}
.product_info {
    font-size: 12px;
    font-family: OpenSans-regular;
    text-transform:none;
}
.product_price_btn {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content:space-between;
}
.product_price_old {
    font-size: 11px;
    text-decoration:line-through;
}
button {
    width: 140px;
    height: 50px;
    text-transform:uppercase;
    font-family: OpenSans-bold; 
    color: white;
    border-style: none;
    background-color: #b59f5b;
}
.contacts {
    margin-top: 65px;
    display: flex;
    background-color:rgb(219, 219, 219);
    width: 1170px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
@media (max-width:1220px) {
    .head_nav {
       margin-right: 15px;
    }
    .noemi {
        margin-left: 15px;
     }
}
@media (max-width:768px) {
    .short_menu_item {
        display: flex;
    }
    .head_nav {
       display: none;
    }
    .trand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        height: 100%;
    }
    .trand_item {
        width: 49.65%;
        margin-bottom: 5px;     
    }
    .trand_item:nth-child(2n+1) {
       margin-left: 0;
        }
    .article_box {
        flex-direction: column;
    }
    .products {
        flex-wrap: wrap;

    }
    main {
        margin-left: 35px;
        margin-right: 35px;
    }
    .articles {
        width: 390px;
    }
    footer {
        margin-left: 35px;
        margin-right: 35px;
    }
    .product1 {
        width: 335px;
         }
    .product2 {
        margin-left: 25px;
        width: 335px;
    }
    .product3 {
        margin-left: 0px;
        margin-top: 30px;
        width: 335px;}
    .contacts {
            width: 100%;
            height: 80px;
            align-items: center;
            justify-content: center;
        }
}
.contact {
    height: 20px;
}
.contact:nth-child(n+2) {
    margin-left: 20px;
}
.copyright {
    font-size: 12px;
    color:rgb(141, 141, 141);
    text-transform:none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.feedback {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #000000;
    opacity: 0.85;
    z-index: 6;
    display: none;
}
.feedback::after {
    content: "";
    background-color: #000000;
    opacity: 0.85;
}
.feedback_form {
    position: absolute;
    width: 390px;
    height: 590px;
    background-color: white;
    padding: 40px;
    z-index: 7;
}
.feedback_form_title {
    text-align: center;
}
.feedback_form_select {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.feedback_form_select_hint {
    text-align: left;
    margin-bottom: 10px;
}
.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/sources/svg/form-arrows.svg");
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 10px;
    margin-bottom: 30px;
    height: 30px;
    width: 100%;
    padding-left: 5px;
    border: none;
    font-size: inherit;
}
.feedback_form_radio {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.feedback_form_radio_group {
    margin-bottom: 30px;
    margin-top: 10px;
}

.feedback_form_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-right: 10px;
}

.feedback_input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 0px;
    outline: none;
    font-size: inherit;
}
.feedback_form_btn {
    width: 100%;
    margin-top: 127px;
}
.feedback_btn {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    color:white;
    cursor: pointer;
  }
.feedback_input:focus, .select:focus{
    outline: 2px solid #b59f5b;
    outline-offset: 5px;
}
.feedback_form__close {
    background-image: url("/sources/svg/form-x.svg");
    background-position: right top ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top:-25px;
    right:0px;
    background-color: black;
    border: none;
    cursor: pointer;
}
.popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: absolute;
  }
  
  .popup__close:before, .popup__close:after {
    width: 28px;
    height: 4px;
  }
  .feedback_form_radio_btn_text {
    display: inline-block;
  }
.feedback_form_radio_btn_text::before {
    content: '';
    margin-right: 6px;
    display: inline-block;
    vertical-align:middle;
    width:15px;
    height:15px;
    background-image:url("/sources/svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:15px;
}
.feedback_form_radio_btn:focus ~ .feedback_form_radio_btn_text::before {
    outline: 2px solid #b59f5b;
    outline-offset: 2px;
  }
   .feedback_form_radio_btn:checked ~ .feedback_form_radio_btn_text::before {
      background-image:url("/sources/svg/form-circle.svg");
  }
  .feedback_form_radio_btn {
    position: absolute;
    height: 1px;
    width: 1px;
     clip:rect(1px,1px,1px,1px);
  }